.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--header-height);
	padding: 1rem;
	z-index: 999;
	color: rgb(234, 234, 234);
	background-color: var(--bg-color-sedondary);
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;

	& img {
		width: 42px;
	}

	& p {
		color: var(--first-color);
		font-weight: bold;
	}
}
.nav-menu a {
	padding: 10px;
	text-align: center;
	color: var(--first-color);
	font-weight: bold;
	text-decoration: none;
	transition: color 0.3s, background-color 0.3s;

	&:hover {
		color: var(--white-color);
	}
}

@media (max-width: 980px) {
	.container-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		gap: 20px;
	}

	.btn-menu {
		display: block;
		cursor: pointer;
		border: none;
		background-color: transparent;
	}

	.btn-menu .svg-inline--fa {
		font-size: 24px;
		color: var(--first-color);
		&:hover {
			color: var(--white-color);
		}
	}

	.nav-menu {
		display: none;
		flex-direction: column;
		background-color: var(--bg-color-sedondary);
		opacity: 1;
		position: absolute;
		top: var(--header-height);
		left: 0;
		width: 100%;
		padding: 0;
		z-index: 1000;
	}

	.nav-menu a {
		padding: 10px;
		text-align: center;

		& a {
			color: var(--first-color);

			&:hover {
				color: var(--white-color);
			}
		}
	}

	.nav-menu.active {
		display: flex;
	}
}

@media screen and (min-width: 981px) {
	.container-menu {
		display: flex;
		justify-content: space-between;
	}

	.btn-menu {
		display: none;
	}

	.nav-menu {
		display: flex;
		background-color: transparent;
		box-shadow: none;
		position: static;
		opacity: 1;
		width: auto;
		padding: 0;
		flex-direction: row;
		align-items: center;
	}

	.nav-menu a {
		padding: 0 10px;
	}
}

.cart-icon {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--first-color);
	@media screen and (max-width: 980px) {
		justify-content: center;
		margin-top: 10px;
	}

	@media screen and (min-width: 981px) {
		justify-content: flex-end;
	}
	&:hover {
		color: var(--white-color);
	}
}
