.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
  text-align: center;
  margin-top: auto;
  background-color: rgb(51, 51, 51);

  & hr {
    width: 90%;    
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }

  .container-social-and-copy {
    width: 90%;   
    display: flex;
    justify-content: space-between;
   
    .row-copyright {
        padding: .5rem;
        font-weight: 600;
        color: var(--white-color);  
      
       & span {
        font-weight: 900;

        }
      }

    .social-media-icon {
        display: flex;
        gap: 5px;
        padding-bottom: 10px;

        & a { 
            filter: invert(1);                     
        }
      }
    }   
  }

@media screen and  (width <= 700px) {

    .container-social-and-copy {
      flex-direction: column-reverse;
      align-items: center;
      
    }
  }

