/* ********** Custom Properties ********** */
:root {
  --first-color: rgb(255, 99, 71);
  --bg-color-primary: rgb(51, 51, 51);
  --bg-color-sedondary: rgba(0,0,0,0.8);
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);
  --font-family: Arial, Helvetica, sans-serif;
  --max-width: 1200px;
  --header-height: 70px;
}

/* ********** Reset ********** */
html {
  box-sizing: border-box;
  font-family: var(--font-family) 
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--bg-color-primary);
}

a{
  color: var(--white-color);
}

.none {
  display: none;
}

